@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body { 
  height: 100%;
  margin: 0;
  font-family: "Wanted Sans Variable", serif;
  background-color: #1a1e23;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: auto;
  padding: 0;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: auto;
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.side-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 14px;
  color: #aaaaaa;
  position: fixed;
  left: 10px;
  top: 100px;
  letter-spacing: 2px;
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.subtitle {
  font-size: 25px;
  color: #ffb6c1;
  letter-spacing: 1px;
}

.title-section {
  margin-top: 60px;
  top: 300px; 
}

.title-1 {
  font-family: "DM Serif Display", serif;
  font-size: 180px;
  font-weight: 400;
  z-index: 100;
  color: #rgb(255, 255, 255)
}

.Unseo_Index1 {
  position: sticky;
  top: 150px;    /* 원하는 위치로 조정 */
  left: 5000px;   /* 원하는 위치로 조정 */
  width: 750px;  /* 크기 조절 */
  opacity: 0.7;  /* 투명도 조절: 0(완전 투명) ~ 1(불투명) */
  z-index: -1;
}


h1 {
  font-size: 48px;
  margin: 10px 0;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  max-width: 500px;
  margin-bottom: 30px;
}

.nav-buttons {
  font-size: 14px;
  color: #bbbbbb;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.profile-section {
  display: flex;
  margin-top: 80px;
  gap: 40px;
}

.profile-info h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.profile-info h3 {
  font-size: 18px;
  margin: 20px 0 5px;
  color: #cccccc;
}

.profile-info p {
  margin: 5px 0;
  font-size: 15px;
}

footer {
  font-size: 12px;
  color: #aaaaaa;
  margin-top: 40px;
  text-align: left;
}

.profile-container{
  display: flex ;
  gap: 200px;
}

.Proof-Photo{

}

.profile-text{

}

.PROFILE{
  font-family: "DM Serif Display", serif;
}